.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .form-label {
        font-size: 12px;
    }

   

    
}
.invalid{
    color: #E52F2F;
    border-color: #E52F2F;
}
