@import "../../styles.scss";

.container {
    display: flex;
    justify-content: center;
    
    

    .table {
      margin: 0 auto;
      width: 100%;
      max-width: 100%;
      overflow-x: auto;
      display: table;
    }
    .table tbody tr th:first-child div {
      top: -45px;
    }
    
  }